In [ ]:
a=2
b=3
c=a+b
print(a+b)

In [ ]:
# user input 
a=int(input("enter the value of  A:"))
b=int(input("enter the value of B:"))
c=a+b/b-a
print('c')
a=int(input("enter the value of A:"))
b=286
c=int(input("enter the value of B:"))
d=a+286
e=b+a
f=a+b+c*d/b+a
if(a+b>b-a):
      print("thanks for using")
print(f)

In [ ]:
# user input 
a=int(input("enter the value of A:"))
b=int(input("enter the value of B:"))
c=a+225
d=b+231
d=a+b-c+d
print(c)

In [ ]:
# user input with if else statement 
t=input( " enter the value of   HUMAN : ")

if("t= hello "):
      print ( " hyy kaise ho aap ")
      

elif("t=i am fine how are you "):
      print (" mai theek hu , btao mai aapki kaise help kr skta hu ")   

elif("t= aapka naam kya hai "):
      print ( " mera naam to tarun hai ") 
else :
      print ( " better luck for next time ")

In [ ]:
print("Welcome to the Simple Chat Bot!")

while True:
    user_input = input("You: ")

    # Check for different user inputs and respond accordingly
    if user_input.lower() == "hi" or user_input.lower() == "hello":
        print("Bot: Hi there!")
    elif user_input.lower() == "how are you?":
        print("Bot: I'm just a bot, but I'm doing well! How can I help you?")
    elif user_input.lower() == "bye":
        print("Bot: Goodbye!")
        break  # Exit the loop
    else:
        print("Bot: I'm not sure I understand. Can you ask something else?")

In [ ]:
# simple while loop 
a=283 
b=387
c=1000

while   c>=a+b :
  print(a+b)
print("bye ")

# running success fully

In [ ]:
# whilw loop with user input 
a=int(input( " A:"))
b=int(input( " B:"))
c=2285
while c>=a+b :
    print("this is correct" )
print("try again") 
    # here we take input greater then 2285 so it will show try again
 # successfully worked

In [ ]:
a=int(input("Enter the vale of A :"))
b=int(input(" enter the value of B :"))
c=a+2*b/8*a-b
if c==1000:
    print(" budhubanaya mja aaya ")
else :
    print(c)

In [ ]:
#try to use while loop 
a= int(input( " enter the value of A :"))
b=int(input("enter the value of B:"))
c=a+2*b/8*a-b
c>2000
while True :
    print (" this is true ")
    
if a.lower == (b) :
    print(" this is okay")    # without break statement 
elif a+b.lower == c-234 :
    print (" okay")

else:
    print ( " c")  

    print(c)

In [ ]:


a=int(input( "A:"))
b=int(input(" B:"))
c=a+3*b
while True:
    if c<200
        a=(input("A:"))
        b=(input("B:"))
        print(a+b)
    elif b=='B':
           
        print("bye")   
        break
else:
        print('good')

In [ ]:
# for loop 
for i in range(19):
  print(i)

tarun = ("amit")

for amit in tarun:
  print(tarun)

In [ ]:
# use of for loop with some example 
montu=[12,34,"tarun,amit,sumit,vikas",23.0,60]
for num in montu:
    print(montu)

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(numbers)

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for column in matrix:
    for martix in column:
        print(column)


tbl=[[1,2,3],[15,12,50],[18,12,45]]
for num12 in tbl :
    print(tbl)

In [ ]:
# Define the size of the multiplication table
table_size = 20

# Create a multiplication table using nested for loops
for i in range(1, table_size + 1):
    for j in range(1, table_size + 1):
        # Calculate and print the product of i and j
        product = i * j
        print(f"{i} x {j} = {product}\t", end="")
    print()  # Move to the next line after each row

In [ ]:
table_size=11
for i in range (1,table_size,+1):
    for j in range (1,table_size,+1):
        product=i*j
        print(f"{i} x {j} = {product}\t", end="")
    print()

# String

In [ ]:
# use of string 
# we can store any type of value in string by using of ("", '') 
school= ("'Tarun ','amit','sumit', '94.267'")
print(type(school))
if 'Trun' in school:
    print("find")
    print('tarun')
else:
  print("Record not find")

In [ ]:
# string slicing 
#print te particular part of strng
Stri="class,rollno , school , student name , teacher name"
print(Stri [:10])
print(Stri[-10])
print(Stri[2:20])

In [ ]:
# built in functions of string
Str='tarun','mohit','jonu','deepanshu'
x= Str.count('tarun')
print(x)

In [ ]:
#string updating and slicing using conditional statements 
tarun="age ,dob,place,location,father name , mother name , total family mamber "
print(type(tarun))
print("Slicing:", tarun[:30] )
if 'sister' in tarun :
    print(" record found")
    print("sister")
else :
    print("Update string :",tarun[:]+",sister")  
print("string  update successfully")

In [ ]:
L1 = [1,2,3,4,5,6,7,8,'tarun','amit','sumit','tarun']
print(L1)
x=L1.count('tarun')
print(x)

In [ ]:
# list constructor 
L1=list(('tarun','amit','sumit','mohit'))
print(L1)

In [ ]:
# slicing in list 
tarun=[12,34,56,2,3,3,4,5,6,11,5,6,'amit', 'sumit' ]
x=tarun.count(5)
print('Slicing are:',tarun[-8:])
print(x)

In [ ]:
# Create a list with integers and characters
mixed_list = [1, 'a', 2, 'b', 3, 'c']

# Separate integers and characters
integers = [item for item in mixed_list if isinstance(item, int)]
characters = [item for item in mixed_list if isinstance(item, str)]

# Print the results
print("Integers:", integers)
print("Characters:", characters)

In [ ]:
print(0xA+0xB+0xC)

In [ ]:
# touple 
a=('tarun', 'mohit',5,10,50,50.4)   #this is a touple 
print(type(a))

In [ ]:
# dictonary
#creating a dictonary
tarun ={ 1:"name", 2: " village", 3: "date of birth"}
#check the type of dictonary 

print(type(tarun))

In [ ]:
# to store multiple value in a key 
# by using list 
school = { 1: "teacher",2: "student",3 : "syllabys", 'f':['amit','sumit','ajay','ijay']}  # this is the example of dictonar with list

print(school)

In [ ]:
#dictnary using if else conditional statement 
dict = {1:'mom',2 :'dad' ,4 :'sister',5 : 'me'}
if 'me' in dict:
    print(2)
else:
    print("not found")

In [ ]:
# Extracting month and year from the timestamp
df['Month'] = df['timestamp'].dt.month
df['Year'] = df['timestamp'].dt.year

# Grouping data by month and aggregating the total sales
monthly_sales = df.groupby(['Year', 'Month'])['total_sales'].sum().reset_index()

# Creating a time series plot
plt.figure(figsize=(12, 6))
plt.plot(monthly_sales['Year'].astype(str) + '-' + monthly_sales['Month'].astype(str), monthly_sales['total_sales'], marker='o')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.title('Monthly Total Sales Over Time')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# Calculate product category correlation matrix
correlation_matrix = df_product_categories.corr()
# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Product Category Correlation Heatmap')
plt.show()
# Extracting month and year from the timestamp
df['Month'] = df['timestamp'].dt.month
df['Year'] = df['timestamp'].dt.year

# Grouping data by month and aggregating the total sales
monthly_sales = df.groupby(['Year', 'Month'])['total_sales'].sum().reset_index()

# Creating a time series plot
plt.figure(figsize=(12, 6))
plt.plot(monthly_sales['Year'].astype(str) + '-' + monthly_sales['Month'].astype(str), monthly_sales['total_sales'], marker='o')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.title('Monthly Total Sales Over Time')
plt.xticks(rotation=45)
plt.show()
plt.figure(figsize=(10, 8))
plt.scatter(df['Age'], df['Total_Purchases'], c=df['Gender'].map({'Male': 'blue', 'Female': 'pink'}), alpha=0.5)
plt.title('Customer Segmentation based on Age and Total Purchases')
plt.xlabel('Age')
plt.ylabel('Total Purchases')
plt.legend(['Male', 'Female'])
plt.show()

In [ ]:
#length of the string 
school= " tarun kumar "  // # here we find the lemgth of a string by using len function 
print(len(school))

In [ ]:
# write a python program to access each element of a string on forward and revearse order by using while loopp 

str = " Tarun Kumar " # this is a string 

# access each character using while loop 
n= len(str)  # n= no of character in str 
i=0
while i<n:
    print(str[i], end='')
    i+=1
print()
# access revese of string 
i=-1
while i>=-n:
        print(str[i],end='')
        i-=1
# access in reversr order using negative indexing 
i=1
n= len(str)
while i<=n :
    print(str[-1], end ='')
    i+=1

In [ ]:
# dictonary 
#collection of python which works on keys and pair value
#create a dictonary 
school = { 1:'teacher',2:'student',3:'parents',4:'bus driver'} 
print(type(school))   # use of type function

In [ ]:
# store multiple values in single valve ( dictonary )
lang2= { 1: 'english' ,2: 'hindi', 3: 'hinglish', 'computer lang':['python', 'java','c','c++'] } 

# by adding list in dictonary 
print(lang2)

In [ ]:
# access the value of dictonary 
# basic counting of college staff and student by using access method

maturam = { ' teacher': 25 ,
           'student in cse ': 200 ,
           'student in mech ': 80 ,
           'student in ece ': 100}     # ther are some sample data of a college 
# access the value by using key 
father = maturam
for index, mark in enumerate (maturam , start= 1):
 print(father)

In [ ]:
# short hand if else statement 
a= 389
b= 560
print("A") if a > b else print ("=") if a==b else print("B")

In [ ]:
 # enumerate function 
student = [20 ,37,82,18,11,9 , 99]

for index, mark in enumerate( student , start= 1) :
    print(mark)
    if ( index ==3 ):
        print ("index found")

In [ ]:
# function in python
def calculategemean(a,b): 
    mean= ( a*b)/(a+b)
    print(mean)
def isgreater(a,b):   
    if(a>b):
     print(" Frist number is greater ")
    else :
     print( " Second number is greater")  
def isgreater(a,b):
 a= 300 
 b = 400
calculategemean(a,b)

In [ ]:
import numpy as np 
import pandas as pd 
school = { 
    "name" : [ " tarun " , " deepanshu" , " tushar ", " granth "] ,
    " marks" : [ 80 , 77, 67, 75 ],
    " address" : [ "kansala ", "tilak nagar ", "sec 14 ", "khrkhoda"]
           
}
df=pd.DataFrame(school)

In [ ]:
# read csv file from our computer 
import pandas as pd 
import numpy as np
tarun = pd.read_csv('data.csv')  # to read data 
tarun['Order ID'] # print the order id from the 
pd.head(10)
pd.tail(10)

In [ ]:
import pandas as pd
import numpy as np 
data=pd.read_csv('data.csv')
df=pd.DataFrame(data)
data
df.tail(20) # to print the last 20 rows from data 
df.describe# to find the mean mode median of all the given data 
df.dtypes # use to print the total no of data types which are used in given data 
df.index # use to count the total no of items or rows into the data 
df.columns # use to count the total no of items or columns into the data
df.to_numpy() # use to convert dataframe to numpy array
df.T  # use to transform the data 
df.sort_index(axis=0, ascending= False) # use to reverse sort
# here axis=0 is known as rows 
# and axis =1 ia kmown as column