In [13]:
a=2
b=3
c=a+b
print(a+b)

In [9]:
# user input 
a=int(input("enter the value of  A:"))
b=int(input("enter the value of B:"))
c=a+b/b-a
print('c')
a=int(input("enter the value of A:"))
b=286
c=int(input("enter the value of B:"))
d=a+286
e=b+a
f=a+b+c*d/b+a
if(a+b>b-a):
      print("thanks for using")
print(f)

ValueError: invalid literal for int() with base 10: ''

In [13]:
# user input 
a=int(input("enter the value of A:"))
b=int(input("enter the value of B:"))
c=a+225
d=b+231
d=a+b-c+d
print(c)

ValueError: invalid literal for int() with base 10: ''

In [15]:
# user input with if else statement 
t=input( " enter the value of   HUMAN : ")

if("t= hello "):
      print ( " hyy kaise ho aap ")
      

elif("t=i am fine how are you "):
      print (" mai theek hu , btao mai aapki kaise help kr skta hu ")   

elif("t= aapka naam kya hai "):
      print ( " mera naam to tarun hai ") 
else :
      print ( " better luck for next time ")

 hyy kaise ho aap

In [19]:
print("Welcome to the Simple Chat Bot!")

while True:
    user_input = input("You: ")

    # Check for different user inputs and respond accordingly
    if user_input.lower() == "hi" or user_input.lower() == "hello":
        print("Bot: Hi there!")
    elif user_input.lower() == "how are you?":
        print("Bot: I'm just a bot, but I'm doing well! How can I help you?")
    elif user_input.lower() == "bye":
        print("Bot: Goodbye!")
        break  # Exit the loop
    else:
        print("Bot: I'm not sure I understand. Can you ask something else?")

Bot: I'm not sure I understand. Can you ask something else?
Bot: I'm not sure I understand. Can you ask something else?
Bot: I'm not sure I understand. Can you ask something else?
Bot: I'm not sure I understand. Can you ask something else?
Bot: I'm not sure I understand. Can you ask something else?
Bot: Goodbye!

In [ ]:
# simple while loop 
a=283 
b=387
c=1000

while   c>=a+b :
  print(a+b)
print("bye ")

# running success fully

In [4]:
# whilw loop with user input 
a=int(input( " A:"))
b=int(input( " B:"))
c=2285
while c>=a+b :
    print("this is correct" )
print("try again") 
    # here we take input greater then 2285 so it will show try again
 # successfully worked

try again

In [1]:
a=int(input("Enter the vale of A :"))
b=int(input(" enter the value of B :"))
c=a+2*b/8*a-b
if c==1000:
    print(" budhubanaya mja aaya ")
else :
    print(c)

70.5

In [7]:
#try to use while loop 
a= int(input( " enter the value of A :"))
b=int(input("enter the value of B:"))
c=a+2*b/8*a-b
c>2000
while True :
    print (" this is true ")
    
if a.lower == (b) :
    print(" this is okay")
elif a+b.lower == c-234 :
    print (" okay")

else:
    print ( " c")  

    print(c)

In [12]:


a=int(input( "A:"))
b=int(input(" B:"))
c=a+3*b
while True:
    if c<200
        a=(input("A:"))
        b=(input("B:"))
        print(a+b)
    elif b=='B':
           
        print("bye")   
        break
else:
        print('good')

110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110
110

In [7]:
# for loop 
for i in range(19):
  print(i)

tarun = ("amit")

for amit in tarun:
  print(tarun)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
amit
amit
amit
amit

In [10]:
# use of for loop with some example 
montu=[12,34,"tarun,amit,sumit,vikas",23.0,60]
for num in montu:
    print(montu)

[12, 34, 'tarun,amit,sumit,vikas', 23.0, 60]
[12, 34, 'tarun,amit,sumit,vikas', 23.0, 60]
[12, 34, 'tarun,amit,sumit,vikas', 23.0, 60]
[12, 34, 'tarun,amit,sumit,vikas', 23.0, 60]
[12, 34, 'tarun,amit,sumit,vikas', 23.0, 60]

In [12]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [18]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for column in matrix:
    for martix in column:
        print(column)


tbl=[[1,2,3],[15,12,50],[18,12,45]]
for num12 in tbl :
    print(tbl)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]
[[1, 2, 3], [15, 12, 50], [18, 12, 45]]
[[1, 2, 3], [15, 12, 50], [18, 12, 45]]
[[1, 2, 3], [15, 12, 50], [18, 12, 45]]

In [23]:
# Define the size of the multiplication table
table_size = 20

# Create a multiplication table using nested for loops
for i in range(1, table_size + 1):
    for j in range(1, table_size + 1):
        # Calculate and print the product of i and j
        product = i * j
        print(f"{i} x {j} = {product}\t", end="")
    print()  # Move to the next line after each row

1 x 1 = 1	501 x 2 = 2	501 x 3 = 3	501 x 4 = 4	501 x 5 = 5	501 x 6 = 6	501 x 7 = 7	501 x 8 = 8	501 x 9 = 9	501 x 10 = 10	501 x 11 = 11	501 x 12 = 12	501 x 13 = 13	501 x 14 = 14	501 x 15 = 15	501 x 16 = 16	501 x 17 = 17	501 x 18 = 18	501 x 19 = 19	501 x 20 = 20	50
2 x 1 = 2	502 x 2 = 4	502 x 3 = 6	502 x 4 = 8	502 x 5 = 10	502 x 6 = 12	502 x 7 = 14	502 x 8 = 16	502 x 9 = 18	502 x 10 = 20	502 x 11 = 22	502 x 12 = 24	502 x 13 = 26	502 x 14 = 28	502 x 15 = 30	502 x 16 = 32	502 x 17 = 34	502 x 18 = 36	502 x 19 = 38	502 x 20 = 40	50
3 x 1 = 3	503 x 2 = 6	503 x 3 = 9	503 x 4 = 12	503 x 5 = 15	503 x 6 = 18	503 x 7 = 21	503 x 8 = 24	503 x 9 = 27	503 x 10 = 30	503 x 11 = 33	503 x 12 = 36	503 x 13 = 39	503 x 14 = 42	503 x 15 = 45	503 x 16 = 48	503 x 17 = 51	503 x 18 = 54	503 x 19 = 57	503 x 20 = 60	50
4 x 1 = 4	504 x 2 = 8	504 x 3 = 12	504 x 4 = 16	504 x 5 = 20	504 x 6 = 24	504 x 7 = 28	504 x 8 = 32	504 x 9 = 36	504 x 10 = 40	504 x 11 = 44	504 x 12 = 48	504 x 13 = 52	504 x 14 = 56	504 x 15 = 60	504 x 16 = 64	504 x 17 = 68	504 x 18 = 72	504 x 19 = 76	504 x 20 = 80	50
5 x 1 = 5	505 x 2 = 10	505 x 3 = 15	505 x 4 = 20	505 x 5 = 25	505 x 6 = 30	505 x 7 = 35	505 x 8 = 40	505 x 9 = 45	505 x 10 = 50	505 x 11 = 55	505 x 12 = 60	505 x 13 = 65	505 x 14 = 70	505 x 15 = 75	505 x 16 = 80	505 x 17 = 85	505 x 18 = 90	505 x 19 = 95	505 x 20 = 100	50
6 x 1 = 6	506 x 2 = 12	506 x 3 = 18	506 x 4 = 24	506 x 5 = 30	506 x 6 = 36	506 x 7 = 42	506 x 8 = 48	506 x 9 = 54	506 x 10 = 60	506 x 11 = 66	506 x 12 = 72	506 x 13 = 78	506 x 14 = 84	506 x 15 = 90	506 x 16 = 96	506 x 17 = 102	506 x 18 = 108	506 x 19 = 114	506 x 20 = 120	50
7 x 1 = 7	507 x 2 = 14	507 x 3 = 21	507 x 4 = 28	507 x 5 = 35	507 x 6 = 42	507 x 7 = 49	507 x 8 = 56	507 x 9 = 63	507 x 10 = 70	507 x 11 = 77	507 x 12 = 84	507 x 13 = 91	507 x 14 = 98	507 x 15 = 105	507 x 16 = 112	507 x 17 = 119	507 x 18 = 126	507 x 19 = 133	507 x 20 = 140	50
8 x 1 = 8	508 x 2 = 16	508 x 3 = 24	508 x 4 = 32	508 x 5 = 40	508 x 6 = 48	508 x 7 = 56	508 x 8 = 64	508 x 9 = 72	508 x 10 = 80	508 x 11 = 88	508 x 12 = 96	508 x 13 = 104	508 x 14 = 112	508 x 15 = 120	508 x 16 = 128	508 x 17 = 136	508 x 18 = 144	508 x 19 = 152	508 x 20 = 160	50
9 x 1 = 9	509 x 2 = 18	509 x 3 = 27	509 x 4 = 36	509 x 5 = 45	509 x 6 = 54	509 x 7 = 63	509 x 8 = 72	509 x 9 = 81	509 x 10 = 90	509 x 11 = 99	509 x 12 = 108	509 x 13 = 117	509 x 14 = 126	509 x 15 = 135	509 x 16 = 144	509 x 17 = 153	509 x 18 = 162	509 x 19 = 171	509 x 20 = 180	50
10 x 1 = 10	5010 x 2 = 20	5010 x 3 = 30	5010 x 4 = 40	5010 x 5 = 50	5010 x 6 = 60	5010 x 7 = 70	5010 x 8 = 80	5010 x 9 = 90	5010 x 10 = 100	5010 x 11 = 110	5010 x 12 = 120	5010 x 13 = 130	5010 x 14 = 140	5010 x 15 = 150	5010 x 16 = 160	5010 x 17 = 170	5010 x 18 = 180	5010 x 19 = 190	5010 x 20 = 200	50
11 x 1 = 11	5011 x 2 = 22	5011 x 3 = 33	5011 x 4 = 44	5011 x 5 = 55	5011 x 6 = 66	5011 x 7 = 77	5011 x 8 = 88	5011 x 9 = 99	5011 x 10 = 110	5011 x 11 = 121	5011 x 12 = 132	5011 x 13 = 143	5011 x 14 = 154	5011 x 15 = 165	5011 x 16 = 176	5011 x 17 = 187	5011 x 18 = 198	5011 x 19 = 209	5011 x 20 = 220	50
12 x 1 = 12	5012 x 2 = 24	5012 x 3 = 36	5012 x 4 = 48	5012 x 5 = 60	5012 x 6 = 72	5012 x 7 = 84	5012 x 8 = 96	5012 x 9 = 108	5012 x 10 = 120	5012 x 11 = 132	5012 x 12 = 144	5012 x 13 = 156	5012 x 14 = 168	5012 x 15 = 180	5012 x 16 = 192	5012 x 17 = 204	5012 x 18 = 216	5012 x 19 = 228	5012 x 20 = 240	50
13 x 1 = 13	5013 x 2 = 26	5013 x 3 = 39	5013 x 4 = 52	5013 x 5 = 65	5013 x 6 = 78	5013 x 7 = 91	5013 x 8 = 104	5013 x 9 = 117	5013 x 10 = 130	5013 x 11 = 143	5013 x 12 = 156	5013 x 13 = 169	5013 x 14 = 182	5013 x 15 = 195	5013 x 16 = 208	5013 x 17 = 221	5013 x 18 = 234	5013 x 19 = 247	5013 x 20 = 260	50
14 x 1 = 14	5014 x 2 = 28	5014 x 3 = 42	5014 x 4 = 56	5014 x 5 = 70	5014 x 6 = 84	5014 x 7 = 98	5014 x 8 = 112	5014 x 9 = 126	5014 x 10 = 140	5014 x 11 = 154	5014 x 12 = 168	5014 x 13 = 182	5014 x 14 = 196	5014 x 15 = 210	5014 x 16 = 224	5014 x 17 = 238	5014 x 18 = 252	5014 x 19 = 266	5014 x 20 = 280	50
15 x 1 = 15	5015 x 2 = 30	5015 x 3 = 45	5015 x 4 = 60	5015 x 5 = 75	5015 x 6 = 90	5015 x 7 = 105	5015 x 8 = 120	5015 x 9 = 135	5015 x 10 = 150	5015 x 11 = 165	5015 x 12 = 180	5015 x 13 = 195	5015 x 14 = 210	5015 x 15 = 225	5015 x 16 = 240	5015 x 17 = 255	5015 x 18 = 270	5015 x 19 = 285	5015 x 20 = 300	50
16 x 1 = 16	5016 x 2 = 32	5016 x 3 = 48	5016 x 4 = 64	5016 x 5 = 80	5016 x 6 = 96	5016 x 7 = 112	5016 x 8 = 128	5016 x 9 = 144	5016 x 10 = 160	5016 x 11 = 176	5016 x 12 = 192	5016 x 13 = 208	5016 x 14 = 224	5016 x 15 = 240	5016 x 16 = 256	5016 x 17 = 272	5016 x 18 = 288	5016 x 19 = 304	5016 x 20 = 320	50
17 x 1 = 17	5017 x 2 = 34	5017 x 3 = 51	5017 x 4 = 68	5017 x 5 = 85	5017 x 6 = 102	5017 x 7 = 119	5017 x 8 = 136	5017 x 9 = 153	5017 x 10 = 170	5017 x 11 = 187	5017 x 12 = 204	5017 x 13 = 221	5017 x 14 = 238	5017 x 15 = 255	5017 x 16 = 272	5017 x 17 = 289	5017 x 18 = 306	5017 x 19 = 323	5017 x 20 = 340	50
18 x 1 = 18	5018 x 2 = 36	5018 x 3 = 54	5018 x 4 = 72	5018 x 5 = 90	5018 x 6 = 108	5018 x 7 = 126	5018 x 8 = 144	5018 x 9 = 162	5018 x 10 = 180	5018 x 11 = 198	5018 x 12 = 216	5018 x 13 = 234	5018 x 14 = 252	5018 x 15 = 270	5018 x 16 = 288	5018 x 17 = 306	5018 x 18 = 324	5018 x 19 = 342	5018 x 20 = 360	50
19 x 1 = 19	5019 x 2 = 38	5019 x 3 = 57	5019 x 4 = 76	5019 x 5 = 95	5019 x 6 = 114	5019 x 7 = 133	5019 x 8 = 152	5019 x 9 = 171	5019 x 10 = 190	5019 x 11 = 209	5019 x 12 = 228	5019 x 13 = 247	5019 x 14 = 266	5019 x 15 = 285	5019 x 16 = 304	5019 x 17 = 323	5019 x 18 = 342	5019 x 19 = 361	5019 x 20 = 380	50
20 x 1 = 20	5020 x 2 = 40	5020 x 3 = 60	5020 x 4 = 80	5020 x 5 = 100	5020 x 6 = 120	5020 x 7 = 140	5020 x 8 = 160	5020 x 9 = 180	5020 x 10 = 200	5020 x 11 = 220	5020 x 12 = 240	5020 x 13 = 260	5020 x 14 = 280	5020 x 15 = 300	5020 x 16 = 320	5020 x 17 = 340	5020 x 18 = 360	5020 x 19 = 380	5020 x 20 = 400	50

In [30]:
table_size=11
for i in range (1,table_size,+1):
    for j in range (1,table_size,+1):
        product=i*j
        print(f"{i} x {j} = {product}\t", end="")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

# String

In [9]:
# use of string 
# we can store any type of value in string by using of ("", '') 
school= ("'Tarun ','amit','sumit', '94.267'")
print(type(school))
if 'Trun' in school:
    print("find")
    print('tarun')
else:
  print("Record not find")

<class 'str'>
Record not find

In [13]:
# string slicing 
#print te particular part of strng
Stri="class,rollno , school , student name , teacher name"
print(Stri [:10])
print(Stri[-10])
print(Stri[2:20])

class,roll
a
ass,rollno , schoo

In [24]:
# built in functions of string
Str='tarun','mohit','jonu','deepanshu'
x= Str.count('tarun')
print(x)

1

In [22]:
#string updating and slicing using conditional statements 
tarun="age ,dob,place,location,father name , mother name , total family mamber "
print(type(tarun))
print("Slicing:", tarun[:30] )
if 'sister' in tarun :
    print(" record found")
    print("sister")
else :
    print("Update string :",tarun[:]+",sister")  
print("string  update successfully")

<class 'str'>
Slicing: age ,dob,place,location,father
Update string : age ,dob,place,location,father name , mother name , total family mamber ,sister
string  update successfully

In [25]:
L1 = [1,2,3,4,5,6,7,8,'tarun','amit','sumit','tarun']
print(L1)
x=L1.count('tarun')
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 'tarun', 'amit', 'sumit', 'tarun']
2

In [27]:
# list constructor 
L1=list(('tarun','amit','sumit','mohit'))
print(L1)

['tarun', 'amit', 'sumit', 'mohit']

In [9]:
# slicing in list 
tarun=[12,34,56,2,3,3,4,5,6,11,5,6,'amit', 'sumit' ]
x=tarun.count(5)
print('Slicing are:',tarun[-8:])
print(x)

Slicing are: [4, 5, 6, 11, 5, 6, 'amit', 'sumit']
2

In [3]:
# Create a list with integers and characters
mixed_list = [1, 'a', 2, 'b', 3, 'c']

# Separate integers and characters
integers = [item for item in mixed_list if isinstance(item, int)]
characters = [item for item in mixed_list if isinstance(item, str)]

# Print the results
print("Integers:", integers)
print("Characters:", characters)

Integers: [1, 2, 3]
Characters: ['a', 'b', 'c']

In [1]:
print(0xA+0xB+0xC)

33

In [1]:
# touple 
a=('tarun', 'mohit',5,10,50,50.4)   #this is a touple 
print(type(a))

<class 'tuple'>

In [2]:
# dictonary
#creating a dictonary
tarun ={ 1:"name", 2: " village", 3: "date of birth"}
#check the type of dictonary 

print(type(tarun))

<class 'dict'>

In [3]:
# to store multiple value in a key 
# by using list 
school = { 1: "teacher",2: "student",3 : "syllabys", 'f':['amit','sumit','ajay','ijay']}  # this is the example of dictonar with list

print(school)

{1: 'teacher', 2: 'student', 3: 'syllabys', 'f': ['amit', 'sumit', 'ajay', 'ijay']}

In [12]:
#dictnary using if else conditional statement 
dict = {1:'mom',2 :'dad' ,4 :'sister',5 : 'me'}
if 'me' in dict:
    print(2)
else:
    print("not found")

not found

In [3]:
# Extracting month and year from the timestamp
df['Month'] = df['timestamp'].dt.month
df['Year'] = df['timestamp'].dt.year

# Grouping data by month and aggregating the total sales
monthly_sales = df.groupby(['Year', 'Month'])['total_sales'].sum().reset_index()

# Creating a time series plot
plt.figure(figsize=(12, 6))
plt.plot(monthly_sales['Year'].astype(str) + '-' + monthly_sales['Month'].astype(str), monthly_sales['total_sales'], marker='o')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.title('Monthly Total Sales Over Time')
plt.xticks(rotation=45)
plt.show()

NameError: name 'df' is not defined

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
# Calculate product category correlation matrix
correlation_matrix = df_product_categories.corr()
# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Product Category Correlation Heatmap')
plt.show()
# Extracting month and year from the timestamp
df['Month'] = df['timestamp'].dt.month
df['Year'] = df['timestamp'].dt.year

# Grouping data by month and aggregating the total sales
monthly_sales = df.groupby(['Year', 'Month'])['total_sales'].sum().reset_index()

# Creating a time series plot
plt.figure(figsize=(12, 6))
plt.plot(monthly_sales['Year'].astype(str) + '-' + monthly_sales['Month'].astype(str), monthly_sales['total_sales'], marker='o')
plt.xlabel('Month')
plt.ylabel('Total Sales')
plt.title('Monthly Total Sales Over Time')
plt.xticks(rotation=45)
plt.show()
plt.figure(figsize=(10, 8))
plt.scatter(df['Age'], df['Total_Purchases'], c=df['Gender'].map({'Male': 'blue', 'Female': 'pink'}), alpha=0.5)
plt.title('Customer Segmentation based on Age and Total Purchases')
plt.xlabel('Age')
plt.ylabel('Total Purchases')
plt.legend(['Male', 'Female'])
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [1]:
#length of the string 
school= " tarun kumar "  // # here we find the lemgth of a string by using len function 
print(len(school))

13

In [5]:
# write a python program to access each element of a string on forward and revearse order by using while loopp 

str = " Tarun Kumar " # this is a string 

# access each character using while loop 
n= len(str)  # n= no of character in str 
i=0
while i<n:
    print(str[i], end='')
    i+=1
print()
# access revese of string 
i=-1
while i>=-n:
        print(str[i],end='')
        i-=1
# access in reversr order using negative indexing 
i=1
n= len(str)
while i<=n :
    print(str[-1], end ='')
    i+=1

 Tarun Kumar
 ramuK nuraT

In [3]:
# dictonary 
#collection of python which works on keys and pair value
#create a dictonary 
school = { 1:'teacher',2:'student',3:'parents',4:'bus driver'} 
print(type(school))   # use of type function

<class 'dict'>

In [4]:
# store multiple values in single valve ( dictonary )
lang2= { 1: 'english' ,2: 'hindi', 3: 'hinglish', 'computer lang':['python', 'java','c','c++'] } 

# by adding list in dictonary 
print(lang2)

{1: 'english', 2: 'hindi', 3: 'hinglish', 'computer lang': ['python', 'java', 'c', 'c++']}

In [20]:
# access the value of dictonary 
# basic counting of college staff and student by using access method

maturam = { ' teacher': 25 ,
           'student in cse ': 200 ,
           'student in mech ': 80 ,
           'student in ece ': 100}     # ther are some sample data of a college 
# access the value by using key 
father = maturam
for index, mark in enumerate (maturam , start= 1):
 print(father)

{' teacher': 25, 'student in cse ': 200, 'student in mech ': 80, 'student in ece ': 100}
{' teacher': 25, 'student in cse ': 200, 'student in mech ': 80, 'student in ece ': 100}
{' teacher': 25, 'student in cse ': 200, 'student in mech ': 80, 'student in ece ': 100}
{' teacher': 25, 'student in cse ': 200, 'student in mech ': 80, 'student in ece ': 100}

In [1]:
# short hand if else statement 
a= 389
b= 560
print("A") if a > b else print ("=") if a==b else print("B")

B

In [24]:
 # enumerate function 
student = [20 ,37,82,18,11,9 , 99]

for index, mark in enumerate( student , start= 1) :
    print(mark)
    if ( index ==3 ):
        print ("index found")

20
37
82
index found
18
11
9
99

In [16]:
# function in python
def calculategemean(a,b): 
    mean= ( a*b)/(a+b)
    print(mean)
def isgreater(a,b):   
    if(a>b):
     print(" Frist number is greater ")
    else :
     print( " Second number is greater")  
def isgreater(a,b):
 a= 300 
 b = 400
calculategemean(a,b)

171.42857142857142

In [1]:
import numpy as np 
import pandas as pd

In [3]:
import numpy as np 
import pandas as pd 
school = { 
    "name" : [ " tarun " , " deepanshu" , " tushar ", " granth "] ,
    " marks" : [ 80 , 77, 67, 75 ],
    " address" : [ "kansala ", "tilak nagar ", "sec 14 ", "khrkhoda"]
           
}
df=pd.DataFrame(school)

         name   marks       address
0      tarun       80      kansala
1   deepanshu      77  tilak nagar
2     tushar       67       sec 14
3     granth       75      khrkhoda

In [2]:
# read csv file from our computer 
import pandas as pd 
import numpy as np
tarun = pd.read_csv('data.csv')  # to read data 
tarun['Order ID'] # print the order id from the 
pd.head(10)
pd.tail(10)

AttributeError: module 'pandas' has no attribute 'head'

In [26]:
import pandas as pd
import numpy as np 
data=pd.read_csv('data.csv')
df=pd.DataFrame(data)
data
df.tail(20) # to print the last 20 rows from data 
df.describe# to find the mean mode median of all the given data 
df.dtypes # use to print the total no of data types which are used in given data 
df.index # use to count the total no of items or rows into the data 
df.columns # use to count the total no of items or columns into the data
df.to_numpy() # use to convert dataframe to numpy array
df.T  # use to transform the data 
df.sort_index(axis=0, ascending= False) # use to reverse sort
# here axis=0 is known as rows 
# and axis =1 ia kmown as column

,Order ID,Order Date,Ship Date,EmailID,Geography,Category,Product Name,Sales,Quantity,Profit
3202,CA-2014-119914,05-05-2014,10-05-2014,ChrisCortes@gmail.com,"United States,Westminster,California",Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,72.95
3201,CA-2014-121258,27-02-2014,04-03-2014,DaveBrooks@gmail.com,"United States,Costa Mesa,California",Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,13.32
3200,CA-2014-121258,27-02-2014,04-03-2014,DaveBrooks@gmail.com,"United States,Costa Mesa,California",Phones,Aastra 57i VoIP phone,258.58,2,19.39
3199,CA-2014-121258,27-02-2014,04-03-2014,DaveBrooks@gmail.com,"United States,Costa Mesa,California",Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.96,2,15.63
3198,CA-2013-125794,30-09-2013,04-10-2013,MarisLaWare@gmail.com,"United States,Los Angeles,California",Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,15.22
...,...,...,...,...,...,...,...,...,...,...
4,CA-2011-115812,09-06-2011,14-06-2011,BrosinaHoffman@gmail.com,"United States,Los Angeles,California",Binders,DXL Angle-View Binders with Locking Rings by S...,18.50,3,5.78
3,CA-2011-115812,09-06-2011,14-06-2011,BrosinaHoffman@gmail.com,"United States,Los Angeles,California",Phones,Mitel 5320 IP Phone VoIP phone,907.15,4,90.72
2,CA-2011-115812,09-06-2011,14-06-2011,BrosinaHoffman@gmail.com,"United States,Los Angeles,California",Art,Newell 322,7.28,4,1.97
1,CA-2011-115812,09-06-2011,14-06-2011,BrosinaHoffman@gmail.com,"United States,Los Angeles,California",Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.86,7,14.17
0,CA-2013-138688,13-06-2013,17-06-2013,DarrinVanHuff@gmail.com,"United States,Los Angeles,California",Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,6.87